.App {
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
}
.App-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(223, 6, 6);
}
.App-header img {
  max-height: 20vh;
}
.App-body p {
  padding: 2rem
}
.App-footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-style: italic;
}
hr {
  background-color: rgb(223, 6, 6);
  height: 4px;
}